@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "Yomogi", "sans-self";
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

nav {
    background: #40bfff;
}

.main-nav {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: none;
    list-style: none;
    padding: 20px;

}

.main-nav li {
    width: 1;
    margin: auto;
    font-family: "Zen Maru Gothic";

}

.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color: #fff;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}


/* 見出し */

h1 {
    text-align: left;
    font-size: 2.5rem;
    font-family: "Zen Maru Gothic";
    font-weight: normal;
    line-height: 2;
    padding-top: 25%;
    padding-left: 45%;

}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
}

#home {
    background-image: url(portfolio-top.jpeg);
    min-height: 100vh;
}

/* about */
.page-title {
    font-size: 2.5rem;
    font-family: 'Jua', selif;
    text-transform: none;
    font-weight: normal;
    text-align: center;
    padding: 50px 0;
}


.about img {
    width: 180px;
    height: 180px;
    margin: auto;
   
}

.about p {
    width: 47%;
    line-height: 2.5;

}

.about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

#about {
    background: #F2F2F1;
}

/* works */
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 10%;
    margin-bottom: 50px;

}

.comment {
    padding-top: 20px;
    margin: 3% 0 10% 0;
    background: #CCF2F4;
    border-radius: 30px;
    max-width: auto;
    height: 180px;
 
    position: absolute;
    top: 0;
    position: relative;
}
.comment p {
    margin: 0 5px;
}

.sub-title {
    font-size: 1.2rem;
    text-decoration: underline 1px #432 solid;
    text-align: left;
    padding-left: 15px;
}

.skill {
    border: 2px#432 dashed;
    padding: 0 15px 30px 15px;
    text-align: center;
    max-width: 650px;

    border-radius: 30px;
    margin: 0 auto 50px auto;
    

}

.skill p {
    padding-bottom: 20px;
    line-height: 2;
}

.skill h4 {
    text-decoration: underline 1px #432 solid;
    font-size: 25px;
    font-family: "yomogi";
}

/* contact */
#contact {
    background-image: url(scott-webb-hDyO6rr3kqk-unsplash.jpg);
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
}

/* フォーム */
.contact-form {
    background-color: rgba(255, 255, 255, .5);
    border: 1px #432 solid;
    max-width: 500px;
    margin: 0 auto 50px auto;
    padding: 30px 40px;

}





label {
    font-size: 1.125rem;
    display: block;
    margin-top: 10px;

}

input[type="text"],
input[type="email"] {
    border-bottom: 1px #432 solid;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}



textarea {
    width: 100%;
    max-width: 400px;
    height: 6rem;
    border: 1px #432 solid;
    padding: 10px;
    font-size: 1rem;
    display: block;
    margin: auto;
}

input[type="submit"] {
    cursor: pointer;
    margin-top: 20px;
}

.button {
    padding: 10px 50px;
    background-color: #40bfff;
    display: block;
    margin: auto;
}

/* フッター
--------------------- */
footer {
    background: rgb(163, 160, 157);
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;

}

/* モバイル版
---------------------------*/
@media (max-width: 600px) {
    .page-title {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    .main-nav {
        font-size: 1.2rem;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        width: 30%;
        height: 30%;
        padding-bottom: 10%;
    }

    .about p {
        text-align: center;
        width: 100%;

    }
}
